appdirs==1.4.0
click==6.6
Flask==0.11
future==0.16.0
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
markovify==0.4.0
MarkupSafe==0.23
nltk==3.2.1
oauthlib==2.0.1
packaging==16.8
pyparsing==2.1.10
python-twitter==3.2.1
requests==2.9.1
requests-oauthlib==0.8.0
six==1.10.0
textblob==0.11.1
Unidecode==0.4.19
Werkzeug==0.11.11
